@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.50rem;
}

::-webkit-scrollbar-track {
  background: #60a5fa34;
}

::-webkit-scrollbar-thumb {
  background-color: #1e40af;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
